.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.BehindNavBar {
  height: 70px;
  margin: 0px;
  background-color: black;
}

/*
background-color: #282c34;
color: #61dafb;
*/
