.Box {
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
}

thead button {
  border: 0;
  background-color: #f8f9fa;
}

thead button.ascending, thead button.descending{
  font-weight: 700;
}

thead button.ascending::before {
  display: inline-block;
  content: "⠀⠀";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1.1rem 1.2rem;

}

thead button.descending::before {
  display: inline-block;
  content: "⠀⠀";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-up-fill' viewBox='0 0 16 16'><path d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1.1rem 1.2rem;
}

tbody tr:hover {
  background-color: #eee;
}

thead {
  position: sticky;
  top: 0;
  box-shadow: inset 0 -2px 0 rgb(0, 0, 0);
 }

.drop {
  z-index: 1000;
}

.muuri-item-placeholder {
  display: flex;
  position: absolute;
  background: rgba(152, 203, 254, 0.559);
  z-index: 1;
  margin: 0;
  opacity: 0.5;
  border-style: dashed;
}