.Box {    
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
}

.files-container {
    width: 100%;
    overflow-x: auto;
}

.files-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

tbody {
  display: block;
  height:40rem;
  overflow: auto;
}

tr, td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

.file-title {
  width: 50%;
} 