.Box {
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
}

.test:hover {
  background-color: black;
}

.drop {
  z-index: 1000;
}

.muuri-item-placeholder {
  display: flex;
  position: absolute;
  background: rgba(152, 203, 254, 0.559);
  z-index: 1;
  margin: 0;
  opacity: 0.5;
  border-style: dashed;
}

