.picture {
    width: 2rem;
     height: 2rem;
    margin-right: 10px;
}

.file:hover {
  background-color: rgba(128, 128, 128, 0.244);
}

.file:active {
  background-color: rgba(128, 128, 128, 0.244);
}

.muuri-item-placeholder {
  display: flex;
  position: absolute;
  background: rgba(152, 203, 254, 0.559);
  z-index: 1;
  margin: 0;
  opacity: 0.5;
  border-style: dashed;
}

.navMenuItem:hover {
  color: rgb(0, 187, 255);
}

.columnNames {
  font-size: 15px;
}

.column:hover {
  background-color: rgba(128, 128, 128, 0.26);
}

