#menu-logo {
    font-size: 3em;
    margin:0em;
}

#top-menu {
    background-color: white;
}

#top-menu > img {
    width: 2.5em;
   
}

#top-menu > i {
    margin: 0;
    margin-right: 0.3em;
    font-size: 1.6em;
}